{% extends "layout.html" %}

{% block title %}
    logout
{% endblock %}

{%block listDropdown%}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Account </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/login">Login</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                        <a class="dropdown-item" href="/register">Register</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/account">Account</a>
                    </div>
                </li>
{%endblock%}


{% block main %}


{%endblock%}